.card {
  img {
    width: 200px;
    height: 220px;
    object-fit: cover;
  }
  width: 200px;
}

.title {
  font-size: 17px;
  font-weight: 800;
}

.city {
  font-size: 13px;
}

.grid {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 20;
}

.iconGrid {
  display: grid;
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 4;
  font-size: 18px;
}
